/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    --dot-bg: #f4f4f4;
    --dot-color: #acacac;
    --dot-size: 1px;
    --dot-space: 12px;
    background: linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space), linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space), var(--dot-color);
    min-height: 100vh;
    
}

* {
    font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.sidebar {
    background: #fff !important;
    padding: 1rem !important;
    border-radius: 10px !important;
    border: 1px solid #dddddd !important;
    width: auto;
}
.wrapper {
    gap: 2rem;
}

button {
    background: #ffca28;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer !important;
    border-radius: 8px !important;
    font-weight: 600 !important;
}

.sidebar li:hover {
    background: #00000012 !important;
    color: #333333 !important;
}

.subject-selection, .topic-selection {
    font-weight: 400;
    label {
        cursor: pointer;
    }
}
.topic-selection select {
    border: 2px solid #e3e3e3 !important;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #dcdcdc;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

th,td {
    font-weight: 500;
}
.ngx-pagination {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.cdk-overlay-container {
    position: fixed;
    background: #00000052;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mainer {
    background: #fff !important;
    padding: 1rem !important;
    border-radius: 10px !important;
    border: 1px solid #dddddd !important;
    width: 100%;
}
.challenge-sidebar {
    width: 400px !important;
}

.user-stats {

    background: #ffe300;
    padding: 2px;
    border-radius: 4px;
    padding: 0px 2px;
    font-size: 12px;
    font-weight: 500;
    border: 2px solid #e7ce00;
  }
  .username {
    font-size: 1rem;
    font-weight: 500;
  }

  .box-button {
    border: 1px solid #a1a1a1;
    text-align: left;
    font-weight: 500 !important;
    color: #333333;
    &.bg-blue-400 {
        color: white;
        border: 1px solid;
    }
    &.bg-green-400  {
        color: white;
        border: 1px solid;
    }
  }

  .user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-info h3 {
    margin: 0;
    font-size: 16px;
  }
  
  .user-info p {
    margin: 0;
    font-size: 14px;
    color: gray;
  }