<div class="container">
  <div class="heading04">
    <h2>Recent Challenges</h2>
    <button class="create-challenge-btn" (click)="openCreateChallenge()">Create Challenge</button>
    <app-create-challenge *ngIf="isCreateChallengeOpen"
      (closeEvent)="isCreateChallengeOpen = false"></app-create-challenge>

  </div>
  <div class="challenges-container">
    <div class="challenge-card" *ngFor="let challenge of myChallenges">
      <!-- <img [src]="challenge.image" alt="{{ challenge.title }} Image" class="challenge-image" /> -->

      <div class="challenge-details">
        <span class="grade" [ngClass]="getGradeClass(challenge.grade)">
          {{ challenge.grade }}
        </span>

        <h3>{{ challenge.name }}</h3>

        <p class="challenge-date">
          {{ challenge.compltedOn | relativeTime }}
        </p>

        <button class="btn-primary">View Result & AI Analysis</button>
      </div>
    </div>
  </div>
  <h2>Topics I have Expertise</h2>
  <table class="expertise-table">
    <tr *ngFor="let subjectObj of myChallenges">
      <td>{{ subjectObj.name }}</td>
      <ng-container *ngFor="let topic of subjectObj.subjectAndTopics">
        <!-- Loop through each topic and display its information -->
        <tr *ngFor="let topicName of topic.topic">
        
          <td>
            <span
              *ngFor="let subject of subjectObj.subjectAndTopics; let last = last">
              <span [ngClass]="getSubjectClass(topic.subject)">
                {{ topic.subject }}
              </span>
              &nbsp;
            </span>
          </td>
        
        </tr>
      </ng-container>
      <td>{{ calculateTotalQuestions() }} Questions Practised</td>
      <td>{{ calculateAccuracy() }}% Accuracy</td>
    </tr>
  </table>
  
  
</div>