<div class="table-container">
  <table class="custom-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Subject</th>
        <th>Date</th>
        <th>Grade</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let challenge of myChallenges
            | paginate : { itemsPerPage: 6, currentPage: currentPage }
        "
      >
      <td>{{ challenge.name === "string" ? 'Challenge' : challenge.name || 'Challenge' }}</td>

        <td>
          <span
            *ngFor="let topic of challenge.subjectAndTopics; let last = last"
          >
            <span [ngClass]="getSubjectClass(topic.subject)">
              {{ topic.subject }}
            </span>
            &nbsp;
          </span>
        </td>
        <td>{{ challenge.compltedOn | relativeTime }}</td>
        <td>{{ challenge.grade }}</td>
        <td>
          <button class="btn-primary" (click)="openAiAnalysis()">
            View AI Analysis
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls
    (pageChange)="currentPage = $event"
  ></pagination-controls>
</div>
