.table-container {
  padding: 2rem;
  background: white;
  padding: 2rem;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #dddddd !important;
  }
   
  .custom-table {
    width: 100%;
    border-collapse: collapse;
  }
   
  .custom-table th, .custom-table td {
    padding: 8px;
    text-align: left;
  }
   
  .custom-table th {
    background-color: #f5f5f5;
  }
   
  .Math { background-color: #cce5ff; padding: 4px 8px; border-radius: 4px; 
    font-weight: 400;
    font-size: 14px; }
  .Physics { background-color: #d4edda; padding: 4px 8px; border-radius: 4px; 
    font-weight: 400;
    font-size: 14px; }
  .Chemistry { background-color: #e3c8fc; padding: 4px 8px; border-radius: 4px; 
    font-weight: 400;
    font-size: 14px; }
  .Biology { background-color: #ffeeba; padding: 4px 8px; border-radius: 4px; 
    font-weight: 400;
    font-size: 14px; }
   
  .btn-primary {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500 !important;
  }